::-webkit-scrollbar {
    display: none;
  }
  
  * {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    background-color: #333;
    color: #fffefe;
    font-family: Hack, monospace;
    user-select: none;
  }
  
  span {
    color: #bcd42a;
    margin-left: 20px;
  }
  
  p {
    max-width: 90vw;
    color: #fffefe;
    margin: 20px;
    overflow-wrap: break-word;
  }
  
  input {
    margin: 10px;
    padding: 5px;
    border: solid #999;
    border-radius: 5px;
    caret-color: #fffefe;
  }
  
  input[type=submit] {
    background-color: #d0705a;
    border: solid #d0705a;
    padding: 10px;
    margin-left: 0;
    margin-top: 20px;
  }
  
  input:focus {
    outline: none;
  }
  
  html {
    min-height: 100%;
    display: grid;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-bottom: 1rem;
  }
  
  h1 {
    margin-top: 2rem;
    margin-bottom: 4rem;
    text-align: center;
    color: #fffefe;
  }
  
  #messageContainer p {
    color: #d0705a;
  }
  
  .encryptedField {
    cursor: pointer;
  }
  